.container {
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 100%;
    background-color: #0E4E98;

    .rotate-text {
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        font-size: 2rem;
        color: white;
    }
}