.container {
    display: flex;
    flex-direction: column;

    .language-image {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        align-self: center;
    }

    .language-text {
        align-self: center;
        font-size: 1.75rem;
        color: white;
    }
}